//
@import 'partials/header';
@import 'partials/jumbo';
@import 'partials/cards';
@import 'partials/footer';
@import 'partials/detail';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

.container{
    margin: 0 auto;
    max-width: 1300px;
}

.container-small{
  max-width: 450px;
}

.container-medium{
    margin: 0 auto;
    max-width: 1000px;
}

.footer-header{
    background-color: #0282F9;
    padding: 50px 20px;

    & .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;

        & > ul{
            display: contents;
        }
    } 
}

.merch-link figure{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.merch-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    & a{
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;

        &:hover{
            transform: scale(1.05, 1.05);
        }
    }
}

.about-section{
    background-color: #0282f9;

    .about{
        text-align: center;
        padding: 200px 20px;

        h1{
            font-size: 50px;
            margin-bottom: 30px;
        }
    }
}

